* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #0f172a;
  color: #f1f5f9;
}

section {
  padding: 80px 20px;
}

h1, h2, h3 {
  margin-bottom: 15px;
}

html{
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

